.HamburgerIcon {
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  margin-left: 2rem;
  background: transparent;
  position: relative;
  cursor: pointer;
  z-index: 30;
}

.Span,
.Span::before,
.Span::after {
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: #fff;
}

.Span {
  position: absolute;
  top: 18.5px;
  left: 0;
  transition: background-color 0ms linear 200ms;
}

.Span::before,
.Span::after {
  content: "";
  position: absolute;
  left: 0;
  transition: transform 200ms linear, top 300ms linear 200ms;
}
.Span::before {
  top: -18.5px;
}
.Span::after {
  top: 17px;
}

.Open .Span {
  background: transparent;
}

.Open .Span {
  transition: background-color 0ms linear 300ms;
}

.Open .Span::before,
.Open .Span::after {
  transition: top 300ms linear, transform 200ms linear 300ms;
  top: 0;
}

.Open .Span::before {
  transform: rotate(-45deg);
}
.Open .Span::after {
  transform: rotate(45deg);
}

@media only screen and (min-width: 50em) {
  .HamburgerIcon {
    display: none;
  }
}
