.WeatherItems {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(max-content, 24rem));
  gap: 2rem;
  justify-content: center;
}

@media only screen and (max-width: 37.5em) {
  .WeatherItems {
    grid-template-columns: 1fr;
    justify-content: stretch;
  }
}
