.WeatherDetail {
  padding: 4rem 1rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(max-content, 1fr));
  gap: 2rem;
  justify-items: center;
  align-items: center;
  font-size: 1.6rem;
  background-color: var(--color-blue-light);
}

.WeatherDetail > * {
  padding: 0 1rem;
  color: #fff;
}

.Date {
  grid-column: 1 / -1;
}
.TimeIcon,
.WeatherIcon {
  font-size: 6rem;
}

.WeatherIcon.Clear {
  color: var(--color-orange-light);
}

.WeatherIcon.Rain {
  color: var(--color-blue-darkest);
}
.WeatherIcon.Hot {
  color: var(--color-orange-dark);
}

.WeatherIcon.Night {
  color: var(--color-blue-dark);
}

.Description {
  grid-column: 1 / -1;
}
.Description::first-letter {
  text-transform: capitalize;
}
.Humidity {
  justify-self: end;
}
.HumidityIcon {
  justify-self: start;
}
.WindSpeed {
  justify-self: end;
}
.WindSpeedIcon {
  justify-self: start;
}
.WindDir {
  justify-self: end;
}
.WindDirIcon {
  justify-self: start;
}
.Pressure {
  justify-self: end;
}
.PressureIcon {
  justify-self: start;
}

.HumidityIcon,
.WindSpeedIcon,
.WindDirIcon,
.PressureIcon {
  display: flex;
  align-items: center;
}

.HumidityIcon > i,
.WindSpeedIcon > i,
.WindDirIcon > i,
.PressureIcon > i {
  font-size: 3rem;
  margin-right: 1rem;
}
