.LangSelect {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.LangSelect > button {
  border: none;
  outline: none;
  cursor: pointer;
  margin-right: 0.5rem;
  width: 4rem;
  height: 4rem;
  background: transparent;
}

.LangSelect > svg {
  width: 4rem;
  height: 4rem;
}
