@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap");

:root {
  --color-green-light: #7ed56f;
  --color-green-dark: #28b485;
  --color-orange-light: #ffb900;
  --color-orange-dark: #ff7730;
  --color-blue-light: #2998ff;
  --color-blue-dark: #5643fa;
  --color-blue-darkest: #101d2c;
  --color-pink-light: #ff3366;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  /*  10px/16px = 62.5% -> 1rem = 10px  */
  font-size: 62.5%;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
